	<form action="/Preinscripcion/update/<%=Preinscripcion.id%>" method="POST" class="edit">
	<div class="form-group">
		<h2> editing a Preinscripcion... </h2>
		<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.nombre %>" name="nombre" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.apellidoPaterno %>" name="apellidoPaterno" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.apellidoMaterno %>" name="apellidoMaterno" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.fechaNacimiento %>" name="fechaNacimiento" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.numeroHijos %>" name="numeroHijos" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.sexo %>" name="sexo" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.estadoCivil %>" name="estadoCivil" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.padreTutor %>" name="padreTutor" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.rfc %>" name="rfc" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.curp %>" name="curp" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.etnia %>" name="etnia" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.empresa %>" name="empresa" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.numDependientes %>" name="numDependientes" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.domicilio %>" name="domicilio" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.email %>" name="email" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.municipio %>" name="municipio" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.estado %>" name="estado" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.pais %>" name="pais" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.extrangero %>" name="extrangero" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.padresMexicanos %>" name="padresMexicanos" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.peso %>" name="peso" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.estatura %>" name="estatura" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.tipoSangre %>" name="tipoSangre" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.antecedentesMedicos %>" name="antecedentesMedicos" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.capacidadDiferente %>" name="capacidadDiferente" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.otrosAntecedentes %>" name="otrosAntecedentes" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.telefonoCasa %>" name="telefonoCasa" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.telefonoCelular %>" name="telefonoCelular" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.redSocial %>" name="redSocial" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.preparatoria %>" name="preparatoria" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.especialidad %>" name="especialidad" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.promedioFinal %>" name="promedioFinal" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.carreraSolicitada %>" name="carreraSolicitada" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.segundaOpcion %>" name="segundaOpcion" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.turnoEntrevista %>" name="turnoEntrevista" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Preinscripcion.estadoPago %>" name="estadoPago" type="text" class="form-control"/>
	</div>

		</div>
		<input type="submit" value="Update Preinscripcion" class="btn btn-default"/>
		<a href="/Preinscripcion/show/<%=Preinscripcion.id %>" class="btn btn-danger">Cancel</a>
	</form>
	
	